* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #fafafa;
}

.react-datepicker__input-container input {
  border: none;
  outline: none;
  background: none;
  font-size: 16px;
  font-weight: 500;
  color: #718096;
  width: 185px;
  
}
